.header{
    font-size: 100px;
    text-align: center;
    color: black;
    display: inline;
}
body{
    background-color: pink;
}

a button{
    background-color: aqua;
    margin-left: 20%;
    border-radius:6px;
}
.homeimages{
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
    margin-top: 20px;

}
.crave img{
    padding: 0;
    border-style: solid;
    border-width: 2px;
    border-color:black;
    width: 332px;
    height: 185px;
    margin-right: 20px;
    margin-bottom: 20px;
}



@media screen and (min-width:301px) and (max-width:600px) {
    body{
        background-color:lightblue;
    }

    .crave{
        display: flex;
        margin: 20px;
    }

    .crave img{
        width: 200px;
        height: 100px;
    }

    .header{
        font-size: 60px;
    }
}

@media screen and (max-width:300px){
    body{
        background-color: greenyellow;
        
    }
    .crave{
        display: flex;
        margin-bottom: 20px;
        flex-wrap: wrap;
    }
    .header{
        font-size: 40px;
    }

    .crave img{
        width: 150px;
        height: 100px;
    }
}
  

